.tox
*.cache
__pycache__
.coverage
htmlcov
*.pyc
AUTHORS
ChangeLog
prof
*.pytest_cache/
.idea
.python-version
.env
Vagrantfile
*.env
.envrc
docs/build
.hypothesis/
*.db
*.DS_Store
build
dist
*.egg-info
.eggs
